.form-container {
    background-color: #fff;
    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
    border-radius: 5px;
    padding: 20px;
    color: #222;
}

.login {
    margin-top: 0;
}

.login-card {
    margin-bottom: 20px;
}

.form-input-login a {
    text-decoration: none;
}

.form-input-login a:hover {
    border-bottom: 1px solid #0000ee;
}
