.container-404 > img {
    width: 350px;
    margin: 0 auto;
    display: block;
}

.container-404 h1, .container-404 p {
    text-align: center;
}

.homelink {
    text-decoration: none;
    color: blue;
}