.form-input {
    background: none;
    border: none;
    border-bottom: solid 2px #474544;
    color: #474544;
    font-size: 1em;
    font-weight: 400;
    padding: 8px 12px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 1;
}

.form-input.uppercase {
    text-transform: uppercase;
}

.form-input:disabled {
    background-color: rgb(230, 230, 230);
    color: #65676b;
}

select.form-input {
    background: url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png")
        no-repeat right;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

/* Chrome, Safari, Edge, Opera */
.form-input::-webkit-outer-spin-button,
.form-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.form-input[type="number"] {
    -moz-appearance: textfield;
}

.form-input[type="date"],
select.form-input {
    height: 42px;
}

.form-input[type="text"]:focus,
.form-input[type="date"]:focus,
.form-input[type="number"]:focus,
.form-input[type="password"]:focus {
    outline: none;
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    text-transform: none;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    text-transform: none;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    text-transform: none;
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    text-transform: none;
}

::placeholder {
    /* Recent browsers */
    text-transform: none;
}

label {
    font-size: 12px;
    font-weight: bold;
    color: #474544;
}
