.sales-invoice-item,
.sales-total-item {
    border: 1px solid #ddd;
    border-collapse: collapse;
    font-size: 16px;
}

.sales-invoice-item {
    width: 40%;
    max-width: 40%;
}

.sales-invoice-item tr th,
.sales-invoice-item tr td,
.sales-total-item tr th,
.sales-total-item tr td {
    padding: 8px;
    border: 1px solid #ddd;
}

.sales-invoice-item tr th {
    font-weight: 500;
    width: 30%;
    text-align: left;
    background-color: rgba(51, 51, 51, 0.1);
    border-right: 2px solid #ddd;
}

.sales-invoice-item tr td {
    text-align: right;
}

.invoice-input {
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 36px;
    padding: 0 8px;
    width: 100%;
    color: #555;
}

.invoice-input:disabled {
    background-color: transparent;
    color: #555;
    opacity: 1;
    font-size: 16px;
    border: none;
    padding: 0;
}

select.invoice-input:disabled {
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.plus,
.minus {
    width: 36px;
    height: 36px;
}

.plus {
    margin-right: 5px;
}

.sales-total-item {
    float: right;
    margin-top: 20px;
}

.sales-total-item tr th {
    font-weight: 500;
    width: 168.72px;
    text-align: right;
}

.sales-total-item tr td {
    width: 259.63px;
    height: 53px;
}

.sales-total-item tr td .wrapper-total-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.invoice-total {
    background-color: transparent;
    color: #555;
    border: none;
    font-size: 16px;
    text-align: right;
    width: 100%;
}

.judul-table {
    position: relative;
}

.button-add {
    position: absolute;
    top: -5px;
    right: 0;
}
