.dataContainer {
    width: 40%;
    padding: 20px 20px 20px 0;
    height: 570px;
    background: #042331;
    color: #fff;
}

.dataContainer .error-fetch {
    padding-left: 12px;
}

.dataContainer ul {
    margin: 0;
    padding: 0;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.dataProduct {
    list-style: none;
    border-bottom: 1px solid black;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 12px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.dataProduct:hover,
.dataProduct:focus {
    background-color: #546068;
}

.dataProduct p {
    font-size: 14px;
    margin: 0;
}

.dataProduct .keterangan-produk {
    display: flex;
}

.keterangan-produk .buying,
.keterangan-produk .selling,
.keterangan-produk .status {
    padding-right: 50px;
    padding-top: 12px;
}

.search-container {
    width: 100%;
    height: 48px;
    padding: 0 0 12px 12px;
    position: relative;
}

.search {
    padding: 10px;
    font-size: 14px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: none;
}

.submit-search {
    height: 36px;
    font-size: 14px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    background-color: #9bb8c7;
    color: #042331;
    cursor: pointer;
    font-weight: 600;
    position: absolute;
    top: 0;
    right: 0;
}

.search:focus {
    outline: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.pagination {
    display: flex;
    justify-content: flex-end;
}

.pagination .pagination-wrapper p {
    color: #fff;
    float: left;
    padding: 8px;
    margin: 0;
}

.pagination .pagination-wrapper .arrow {
    cursor: pointer;
}

.pagination .pagination-wrapper .arrow.limit {
    display: none;
}
