.navbar-bawah {
    background: #f3f4f6;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 48px;
    height: 62px;
}

.judul-halaman {
    padding: 0;
    margin: 0;
    color: #042331;
}
