.container {
    padding: 20px;
    width: 60%;
}

.row {
    height: 60px;
    margin-bottom: 20px;
}

.col-35 {
    float: left;
    width: 35%;
    margin-right: 2%;
}

.col-30 {
    float: left;
    width: 30%;
    margin-right: 2%;
}

.col-63 {
    float: left;
    width: 63%;
}

table.table-timestamp {
    margin-top: 20px;
}

table.table-timestamp tr > th,
td {
    text-align: left;
    padding-right: 20px;
}
