@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500");

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

.error-message {
    color: rgb(214, 55, 55);
    margin: 0;
    padding: 0;
    background-color: rgb(240, 221, 221);
    font-size: 14px;
    text-align: left;
}

.error-message.center {
    text-align: center;
}
