.button--rounded,
.button--box {
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.button--box:disabled,
.button--rounded:disabled {
    cursor: not-allowed;
}

.button--box {
    border-radius: 0.25rem;
}

.button--rounded {
    border-radius: 25px;
}

.light {
    background-color: #f5f6f7;
    border-color: #ccd0d5;
    color: #65676b;
}

.light:hover {
    background-color: #d1d1d1;
}

.light:active {
    background-color: #a3a2a2;
}

.primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

.primary:hover {
    background-color: #005fc5;
}

.primary:active {
    background-color: #00458f;
}

.primary:disabled,
.primary:hover:disabled {
    background-color: #419dff;
}

.secondary {
    background-color: #007bff;
    border-color: #007bff;
    opacity: 0.65;
    color: #fff;
}

.secondary:hover {
    background-color: #005fc5;
}

.secondary:active {
    background-color: #00458f;
}

.warning {
    background-color: #ffc107;
    border-color: #ffc107;
    color: #fff;
}

.warning:hover {
    background-color: #cf9d05;
}

.warning:active {
    background-color: #b68904;
}

.danger {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff;
}

.danger:disabled,
.danger:hover:disabled {
    background-color: #db616d;
}

.danger:hover {
    background-color: #c4303f;
}

.danger:active {
    background-color: #aa2b38;
}
