.navbar {
    background: #fff;
    height: 62px;
    font-size: 1.2rem;
    padding: 0 90px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 1500px;
}

.image-logo {
    width: 90px;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: end;
    padding: 0;
    margin: 0;
    height: 100%;
}

.nav-item,
.nav-item-mini {
    display: flex;
    align-items: center;
}

a.nav-links, .logout-utama {
    color: #222;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 61px;
    font-weight: bold;
}

.logout-utama {
    transition: all 0.3s ease;
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
}

.logout-utama:hover, .logout:hover {
    color: rgb(247, 25, 25);
}

.navbar-mini {
    background: #042331;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 48px;
    height: 40px;
}

.nav-menu-mini {
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links-mini {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
}

.logout {
    transition: all 0.3s ease;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
}

.nav-item-mini {
    margin-right: 2rem;
}

.nav-links-mini:hover {
    border-bottom: 1px solid #fff;
}
