.table-container {
    overflow: auto;
    margin: 3rem;
    color: #555;
    min-height: calc(100vh - 158px);
}

#left {
    text-align: left;
}

#right {
    text-align: right;
}

.table-container h2 {
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 10px;
}

.sales-invoice {
    width: 100%;
    max-width: 100%;
    border: 1px solid #ddd;
    border-collapse: collapse;
}

.sales-invoice thead {
    border-bottom: 2px solid #ddd;
}

.sales-invoice thead tr th {
    font-weight: 500;
    background-color: rgba(51, 51, 51, 0.1);
}

.sales-invoice thead tr th,
.sales-invoice tbody tr td {
    font-size: 16px;
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
}

.center-pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination-sales {
    display: inline-block;
}

.pagination-sales span {
    float: left;
    padding: 8px 16px;
    border: 1px solid #ddd;
}

.pagination-sales span.arrow {
    cursor: pointer;
}

.pagination-sales span.arrow.not-allowed {
    display: none;
}
