.dashboard-page {
    height: 100vh;
}

.dashboard-container {
    background-color: #f3f4f6;
    padding: 20px 48px;
    min-height: 585px;
}

.main__title {
    display: flex;
    align-items: center;
}

.main__title > img {
    max-height: 150px;
    object-fit: contain;
    margin-right: 20px;
}

.main__greeting > h1 {
    font-size: 28px;
    color: #2e4a66;
    margin: 0;
    margin-bottom: 5px;
}

.main__greeting > p {
    font-size: 16px;
    margin: 0;
    font-weight: 500;
    color: #a5aaad;
}

.dashboard-cards-container {
    display: flex;
    flex: wrap;
    justify-content: space-between;
    margin: 20px 0;
}

.dashboard-cards-container.dashboard-report {
    justify-content: space-evenly;
}

.dashboard-card {
    padding: 10px;
    background: #ffffff;
    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
    border-radius: 5px;
    width: 280px;
}

.dashboard-card.lebar {
    width: 400px;
    height: 200px;
    padding: 50px;
    cursor: pointer;
}

.dashboard-card.lebar:hover {
    background-color: #a5aaad;
}

.dashboard-card.lebar:active {
    background-color: #808486;
}

.image-inner {
    display: flex;
    justify-content: flex-start;
}

.image-inner.center {
    justify-content: center;
}

.image-inner > img {
    max-height: 50px;
    object-fit: contain;
}

.card_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.card_inner.center {
    justify-content: center;
}

.card-title {
    font-size: 16px;
    font-weight: 500;
    color: #555;
    margin: 0;
}

.card-title.report {
    font-size: 24px;
}

.card-report {
    font-size: 24px;
    color: #2e4a66;
    font-weight: 600;
}
