.register-background {
    background-color: #f3f4f6;
}

.register-form {
    width: 600px;
}

.register-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 50PX;
}