.homepage {
    background-color: #f3f4f6;
    padding: 40px 90px;
    min-height: 90vh;
}

.homepage-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.hello {
    margin: 0;
    margin-left: 30px;
    color: #222;
}

.homepage-cards {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
}

.image-homepage {
    width: 400px;
    min-width: 15rem;
}

.card {
    margin: 10px;
    background: #ffffff;
    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
    border-radius: 5px;
}

.card a {
    text-decoration: none;
}

.card a img {
    width: 60px;
    color: #222;
}

.card a p {
    border-radius: 5px;
    margin: 0;
    width: 300px;
    height: 200px;
    padding: 50px 0;
    text-align: center;
    font-size: 32px;
    color: #222;
    font-weight: bold;
    transition: all 0.2s ease-in;
}

.card a p:hover {
    color: #fff;
    background-color: blueviolet;
}

.card a p {
    margin: 0;
}
